@using System.Web.Mvc.Html
@model IEnumerable<Quilt4.Service.Areas.Admin.Models.UserModel>

@{
    ViewBag.Title = "Admin Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th></th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Roles</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td><img src="@item.AvatarUrl" height="26" title="@item.FullName"/></td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.Raw(string.Join(", ", item.Roles))
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>