@{
    ViewBag.Title = "System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>System</h2>

<p>Version = @ViewBag.Version</p>
<p>StartInfo = @ViewBag.StartInfo</p>
<p>CanWriteToSystemLog = @ViewBag.CanWriteToSystemLog</p>
<p>HasOwnProjectApiKey = @ViewBag.HasOwnProjectApiKey</p>
<p>DatabaseInfo = @ViewBag.DatabaseInfo</p>
<p>UserName = @ViewBag.UserName</p>
